<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <title>Pacientes</title>
  <script defer th:src="@{/js/cssandjs/paciente-add.js}" type="text/javascript"></script>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="#">Pacientes</a></li>
      <li><a href="/odontologo">Odontologos</a></li>
    </ul>
  </nav>
</header>
<main>
  <form action="paciente/add" id="pacienteAdd" method="post">
    <h2>Agregar un paciente nuevo</h2>
    <table>
      <tr>
        <td>Nombre</td>
        <td><input name="nombre" type="text"></td>
      </tr>
      <tr>
        <td>Apellido</td>
        <td><input name="apellido" type="text"></td>
      </tr>
      <tr>
        <td>DNI</td>
        <td><input name="dni" type="text"></td>
      </tr>
      <tr>
        <td>Dirección</td>
        <td><input name="domicilioCalle" type="text"></td>
        <td>Número de la dirección</td>
        <td><input name="domicilioNumero" type="text"></td>
      </tr>
      <tr>
        <td>Localidad</td>
        <td><input name="domicilioLocalidad" type="text"></td>
        <td>Provincia</td>
        <td><input name="domicilioProvincia" type="text"></td>
      </tr>
      <tr>
      </tr>
    </table>
    <button input="submit">Agregar</button>
  </form>

  <h2>Pacientes registrados</h2>
  <ol>
    <li th:each="paciente : ${pacientes}">
      <p>
        <b>
          <td>Paciente:</td>
          <td th:text="${paciente.nombre}"></td>
          <td th:text="${paciente.apellido}"></td>
        </b>
      </p>
      <p>
      <td>DNI:</td>
      <td th:text="${paciente.dni}"></td>
      </p>
      <p>
      <td>Fecha de ingreso:</td>
      <td th:text="${paciente.fechaIngreso}"></td>
      </p>
      <p>
      <td>Domicilio:</td>
      <td th:text="${paciente.domicilio.calle}"></td>
      <td th:text="${paciente.domicilio.numero} + '.'"></td>
      <td th:text="${paciente.domicilio.localidad} + ', ' + ${paciente.domicilio.provincia}"></td>
      </p>
    </li>
  </ol>
</main>
</body>
</html>